
<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="h2">Add a new User</strong>
        </div>

        <div class="card-body card-block">
            <form class="form-group" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="mb-2">
                    <label for="name" class="form-label">
                        Name
                        <input class="form-control" type="text" id="name" formControlName="name" name="name">
                    </label>
                    <div class="alert alert-danger" *ngIf="userForm.get('name').errors && userForm.get('name').errors.required && userForm.get('name').dirty || userForm.get('name').touched">
                        This field should be filled
                    </div>
                </div>

                <div class="mb-2">
                    <label for="email" class="form-label">
                        Email
                        <input class="form-control" type="email" id="email" formControlName="email" name="email">
                    </label>
                    <div class="alert alert-danger" *ngIf="userForm.get('email').errors && userForm.get('email').errors.required && userForm.get('email').dirty || userForm.get('email').touched">
                        This field should be filled
                    </div>
                </div>

                <div class="mb-2">
                    <label for="role" class="form-label">
                        Role
                        <select class="form-select" id="role" formControlName="role">
                            <option selected></option>
                            <option value="Software Engineer">Software Engineer</option>
                            <option value="Quality Assurance Engineer">Quality Assurance Engineer</option>
                            <option value="Operation Engineer">Operation Engineer</option>
                        </select>
                    </label>
                    <div class="alert alert-danger" *ngIf="userForm.get('role').errors && userForm.get('role').errors.required && userForm.get('role').dirty || userForm.get('role').touched">
                        Choose the appropriate role!
                    </div>
                </div>

                <div class="mb-2">
                    <label for="" class="form-label">
                        Status
                        <select class="form-select" id="status" formControlName="status">
                            <option selected></option>
                            <option value="Active">Active</option>
                            <option value="In a Meeting">In a Meeting</option>
                            <option value="Offline">Offline</option>
                        </select>
                    </label>
                    <div class="alert alert-danger" *ngIf="userForm.get('status').errors && userForm.get('status').errors.required && userForm.get('status').dirty || userForm.get('status').touched">
                        Choose the appropriate status!
                    </div>
                </div>

                <div class="mb-2">
                    <label for="user-pic" class="form-label">
                        User Picture
                        <input class="form-control" type="file" name="user-pic" id="user-pic" accept="image/*" 
                            (change)="onSelectFile($event)" formControlName="image">

                        <img class="user-pic" [src]="url">
                    </label>
                </div>
            </form>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid" (click)="onSubmit()">Submit</button>
        </div>
    </div>
</div>