
<div class="container">
    <div class="card">
        <div class="card-header">
            <strong class="h2">Add a new User</strong>
        </div>

        <div class="card-body card-block">
            <form class="form-group" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="mb-2">
                    <label for="id" class="form-label">
                        Identity
                    </label>
                    <input class="form-control" type="text" id="id" formControlName="id" name="id" value="{{tempUser['id']}}">
                    
                    <div class="alert alert-danger" *ngIf="userForm.get('id').errors && userForm.get('id').errors.required && userForm.get('id').dirty">
                        This field should be filled
                    </div>
                    <div class="alert alert-danger" *ngIf="isExistingBefore(userForm.get('id').value)">
                        This Id exists. Enter your real Id
                    </div>
                </div>

                <div class="mb-2">
                    <label for="name" class="form-label">
                        Name
                    </label>
                    <input class="form-control" type="text" id="name" formControlName="name" name="name" value="{{tempUser['name']}}">
                
                    <div class="alert alert-danger" *ngIf="userForm.get('name').errors && userForm.get('name').errors.required && userForm.get('name').dirty">
                        This field should be filled
                    </div>
                </div>

                <div class="mb-2">
                    <label for="email" class="form-label">
                        Email
                    </label>
                    <input class="form-control" type="email" id="email" formControlName="email" name="email" value="{{tempUser['email']}}">
                   
                    <div class="alert alert-danger" *ngIf="userForm.get('email').errors && userForm.get('email').errors.required && userForm.get('email').dirty">
                        This field should be filled
                    </div>
                    <div class="alert alert-danger" *ngIf="userForm.get('email').invalid && userForm.get('email').touched && userForm.get('email').valueChanges">
                        Enter an appropriate email!
                    </div>
                </div>

                <div class="mb-2">
                    <label for="role" class="form-label">
                        Role
                    </label>
                    <select class="form-select" id="role" formControlName="role">
                        <option selected hidden>{{tempUser['role']}}</option>
                        <option value="Software Engineer">Software Engineer</option>
                        <option value="Quality Assurance Engineer">Quality Assurance Engineer</option>
                        <option value="Operation Engineer">Operation Engineer</option>
                    </select>
                </div>

                <div class="mb-2">
                    <label for="status" class="form-label">
                        Status
                    </label>
                    <select class="form-select" id="status" formControlName="status">
                        <option selected hidden>{{tempUser['status']}}</option>
                        <option value="Active">Active</option>
                        <option value="In a Meeting">In a Meeting</option>
                        <option value="Offline">Offline</option>
                    </select>
                </div>

                <div class="mb-2">
                    <label for="user-pic" class="form-label">
                        User Picture
                    </label>
                    <input class="form-control" type="file" name="user-pic" id="user-pic" accept="image/*" 
                        (change)="onSelectFile($event)">

                    <img class="user-pic" [src]="tempUser['image']">  
                </div>
            </form>
        </div>

        <div class="card-footer">
            <button class="btn btn-primary" type="submit" (click)="onSubmit()" [disabled]="userForm.invalid || userForm.errors || userForm.untouched">Submit</button>
        </div>
    </div>
</div>