p {
    margin-top: 20px;
    text-align: center;
}

h3 {
    margin-top: 50px;
}

.card-deck {
    margin-top: 50px;
    .card {
        img {
            margin-top: 15px;
        }
        .card-body {
            .card-text {
                text-align: left;
            }
        }
        .card-footer {
            a {
            font-size: 15px;
            }
        }
    }
}