<h3>In this app you can <span class="badge badge-secondary">Add Delete Edit Read</span></h3>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/user-plus.svg" alt="Card image cap" height="44px">
        <div class="card-body">
            <h5 class="card-title">Add User</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a class="badge badge-light" routerLink="/users/add-edit/:id">Add User</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/user-x.svg" alt="Card image cap" height="44px">
        <div class="card-body">
            <h5 class="card-title">Delete User</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a class="badge badge-light" routerLink="/users">Delete User</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/edit.svg" alt="Card image cap" height="44px">
        <div class="card-body">
            <h5 class="card-title">Edit User</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a class="badge badge-light" routerLink="/users">Edit User</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/img/users.svg" alt="Card image cap" height="44px">
        <div class="card-body">
            <h5 class="card-title">Show Users</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a class="badge badge-light" routerLink="/users">Show Users</a>
        </div>
    </div>
</div>