<h2>Welcome to my ugly application</h2>

<div class="container">
    <div class="addDiv">
        <img src="../../../assets/img/user-plus.svg" alt="">
        <a class="badge badge-light" routerLink="/users/add-edit/:id">Add New User</a>

    </div>
    <div class="searchDiv">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>